<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选课系统</title>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/js/browseCourse.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/browse.css">
</head>
<body>
<label id="lab">
  <span>课程关键字搜索</span><input type="text" name="condition" id="condition">
  <span>老师关键字搜索</span><input type="text" name="teaCondition" id="teaCondition">
  <button id="stufind">搜索</button>
</label>
<table>
  <tr>
    <th>课程编号</th>
    <th>课程名称</th>
    <th>已选课人数</th>
    <th>课程限选人数</th>
    <th>课程时间</th>
    <th>课程教室</th>
    <th>课程种类</th>
    <th>授课教师姓名</th>
    <th>操作</th>
  </tr>
  <tr th:each="i : ${courseList}">
    <td th:text="${i.getCourseid()}"></td>
    <td th:text="${i.getCoursename()}"></td>
    <td th:text="${i.getCoursenumber()}"></td>
    <td th:text="${i.getCourselimit()}"></td>
    <td th:text="${i.getCourseday()+' '+i.getCoursetime()}"></td>
    <td th:text="${i.getCourseroom()}"></td>
    <td th:text="${i.getCoursekind()}"></td>
    <td th:if="${i.getTeacher()}!=null" th:text="${i.getTeacher().getTeaname()}"></td>
    <td th:unless="${i.getTeacher()}!=null" th:text="暂无老师"></td>
    <td>
      <a th:if="${i.getCoursenumber()<i.getCourselimit()}" th:href="@{/student/addStudentCourse(courseid=${i.getCourseid()})}" class="button chose">选课</a>
      <p th:unless="${i.getCoursenumber()<i.getCourselimit()}" class="button chose" style="color: rgb(255,0,0);background-color: white">该课程人数已满</p>
    </td>
  </tr>
</table>
</body>
</html>