<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/js/changeMangerPwd.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/changePwd.css">
</head>
<body>
<form action="/student/changePwd" id="myForm" method="post">
  <label>
    旧密码
    <input type="password" name="oldpwd" id="oldpwd">
  </label>
  <label>
    新密码
    <input type="password" name="newpwd1" id="newpwd1">
    确认新密码
    <input type="password" name="newpwd2" id="newpwd2">
  </label>
  <input type="submit" value="修改">
</form>
</body>
</html>