<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>浏览学生</title>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/browse.css">
</head>
<body>
<table>
  <tr>
    <th>用户名</th>
    <th>头像</th>
    <th>姓名</th>
    <th>性别</th>
    <th>账号是否激活</th>
    <th>成绩</th>
  </tr>
  <tr th:each="i: ${stuList}">
    <td><a th:text="${i.getStuid()}" th:href="@{/manger/studentDetail(stuid=${i.getStuid()})}" target="_blank" class="Id"></a></td>
    <td th:if="${stuImg.get(i.getStuid())}==null"><img src="/img/default.png"></td>
    <td th:unless="${stuImg.get(i.getStuid())}==null"><img th:src="@{${stuImg.get(i.getStuid())}}"></td>
    <td th:text="${i.getStuname()}"></td>
    <td th:text="${i.getStusex()}"></td>
    <td th:if="${i.getStustate()}">
      <label class="switch">
          <input type="checkbox" checked="checked" disabled>
          <span class="slider"></span>
      </label>
    </td>
    <td th:unless="${i.getStustate()}">
      <label class="switch">
          <input type="checkbox" disabled>
          <span class="slider"></span>
      </label>
    </td>
      <td th:if="${score.get(i.getStuid())}==null" >
        <form th:action="@{/teacher/updateScore(stuid=${i.getStuid()},courseid=${courseid})}" method="post">
          <input type="number" placeholder="暂无成绩" min="0" max="100" name="coursescore">
          <button class="addTea" id="addTea" type="submit">点击登分</button>
        </form>
      </td>
      <td th:unless="${score.get(i.getStuid())}==null" th:text="${score.get(i.getStuid())}"></td>
  </tr>
</table>
</body>
</html>