<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<form action="/login" method="post" id="myForm">
  <h1>教学管理系统登录</h1>
  <label>用户名
  <input type="text" name="id" id="id">
  </label>
  <br/>
  <label>密码
  <input type="password" name="pwd" id="pwd">
  </label>
  <br/>
  <label>角色
  <select name="kind" id="kind">
    <option value="student">学生</option>
    <option value="teacher">老师</option>
    <option value="manger">管理员</option>
  </select>
  </label>
  <br/>
  <input type="submit" value="登录"  id="sub1">
  <input type="submit" value="注册"  id="sub2">
</form>
</body>
</html>