<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.academicadministration.dao.MangerDao">
<select id="login" resultType="java.lang.String">
    select mangerpwd from manger where mangerid=#{id}
</select>
    <update id="reset">
        update manger set mangerpwd=MD5(#{newpwd}) where mangerid=#{mangerid} and mangerpwd=MD5(#{oldpwd})
    </update>
</mapper>